---
const {title} = Astro.props;
let cookie;
if (!Astro.cookies.has("token")) {
  cookie = false;
} else {
  cookie = true;
}
---

<div>
  <div
    class="flex flex-row flex-wrap w-full bg-white p-4 shadow-md focus:shadow-neutral-600 shadow-neutral-400"
  >
    <h1 class="w-fit font-sans font-bold text-2xl m-4">{title}</h1>
    {
      cookie ? (
        <div class="flex flex-row flex-wrap gap-2 ">
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/"
          >
            Inici
          </a>
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/upload"
          >
            Afegir foto
          </a>
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/mypics"
          >
            My fotos
          </a>
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/logout"
          >
            Logout
          </a>
        </div>
      ) : (
        <div>
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/"
          >
            Inici
          </a>
          <a
            class="text-center shadow-md border focus:shadow-inner focus:shadow-neutral-600 border-neutral-400/50 shadow-neutral-400 hover:shadow-inner hover:shadow-neutral-500/80 w-fit rounded-lg p-2"
            href="/logout"
          >
            Logout
          </a>
        </div>
      )
    }
  </div>
</div>
